@using System.Linq.Expressions
@using NetQueryBuilder.Conditions
@{
    if (_methodCallExpression == null)
    {
        <p>Method call expression is null</p>
    }
    else if (_methodCallExpression.Method.Name.Contains("Like", StringComparison.OrdinalIgnoreCase))
    {
        <MudTextField Label="Value" T="string" Value="@GetStringValue(_methodCallExpression.Arguments[2])" ValueChanged="UpdateValue"/>
    }
    else if (_methodCallExpression.Method.Name.Contains("Contains", StringComparison.OrdinalIgnoreCase))
    {
        switch (_memberType)
        {
            case { } stringType when stringType == typeof(string):
                <RelationValueInList T="string" MethodCallExpression="_methodCallExpression" OnUpdateValue="UpdateValue" OnUpdateValues="UpdateValue"/>
                break;
            case { } intType when intType == typeof(int):
                <RelationValueInList T="int" MethodCallExpression="_methodCallExpression" OnUpdateValue="UpdateValue" OnUpdateValues="UpdateValue"/>
                break;
        }
    }
    else
    {
        <p>Method call expression is not supported</p>
    }
}


@code {
    [Parameter] public SimpleCondition Condition { get; set; } = null!;

    private MethodCallExpression? _methodCallExpression;
    private Type? _memberType;

    protected override void OnParametersSet()
    {
        var expression = Condition.Compile();
        if (expression is not MethodCallExpression methodCallExpression)
        {
            _methodCallExpression = null;
            _memberType = null;
            return;
        }

        _methodCallExpression = methodCallExpression;
        _memberType = ((MemberExpression)_methodCallExpression.Arguments[1]).Type;
    }

    private string GetStringValue(Expression expression)
    {
        return expression switch
        {
            ConstantExpression constExpr => constExpr.Value?.ToString() ?? string.Empty,
            UnaryExpression { NodeType: ExpressionType.Convert, Operand: ConstantExpression constOperand } => constOperand.Value?.ToString() ?? string.Empty,
            _ => string.Empty
        };
    }

    private void UpdateValue<T>(T value)
    {
        Condition.Value = value;
    }

}
