@using System.Linq.Expressions
@using NetQueryBuilder.Blazor.Components.FormControls
@using NetQueryBuilder.Conditions
@{
    if (_methodCallExpression == null)
    {
        <p>Method call expression is null</p>
    }
    else if (_methodCallExpression.Method.Name.Contains("Like", StringComparison.OrdinalIgnoreCase))
    {
        <TextField Label="Value"
                   Value="@GetStringValue(_methodCallExpression.Arguments[2])"
                   ValueChanged="UpdateValue"
                   AdornmentIcon="🔍"/>
    }
    else if (_methodCallExpression.Method.Name.Contains("Contains", StringComparison.OrdinalIgnoreCase))
    {
        switch (_memberType)
        {
            case { } stringType when stringType == typeof(string):
                <RelationValueInList T="string" MethodCallExpression="_methodCallExpression" OnUpdateValue="UpdateValue" OnUpdateValues="UpdateValue"/>
                break;
            case { } intType when intType == typeof(int):
                <RelationValueInList T="int" MethodCallExpression="_methodCallExpression" OnUpdateValue="UpdateValue" OnUpdateValues="UpdateValue"/>
                break;
        }
    }
    else
    {
        <p>Method call expression is not supported</p>
    }
}