@using NetQueryBuilder.Configurations
@inject IQueryConfigurator QueryConfigurator

<MudStack Spacing="5">
    <MudGrid Spacing="10">
        <MudItem xs="4">
            <MudButton Color="Color.Primary" Variant="Variant.Outlined" OnClick="NewQuery" Style="margin: auto; vertical-align: center">New Query</MudButton>
        </MudItem>
        <MudItem xs="8">
            <MudStack Row Spacing="4">
                <MudText Typo="Typo.h5" Style="margin: auto; vertical-align: center">FROM</MudText>
                <MudSelect T="Type" Label="Entity" ValueChanged="OnEntitySelect" Style="margin: auto; vertical-align: center">
                    @foreach (var entity in _entities)
                    {
                        <MudSelectItem Value="@entity">@entity.Name</MudSelectItem>
                    }
                </MudSelect>
            </MudStack>
        </MudItem>
    </MudGrid>
    <div @key="_queryBuilderKey">
        @CreateQueryBuilder()
    </div>
</MudStack>

@code {
    Type? _selectedEntityType;

    private int _queryBuilderKey = 0; // Unique key to force re-render
    private IReadOnlyList<Type> _entities = Array.Empty<Type>();

    RenderFragment CreateQueryBuilder()
    {
        if (_selectedEntityType is null)
        {
            return builder =>
            {
                builder.OpenElement(0, "div");
                builder.AddAttribute(1, "style", "text-align: center; margin-top: 20px;");
                builder.AddContent(2, "Please select an entity.");
                builder.CloseElement();
            };
        }

        return builder =>
        {
            builder.OpenComponent(0, typeof(QueryBuilder<>).MakeGenericType(_selectedEntityType));
            builder.AddAttribute(1, "Expression", Expression);
            builder.CloseComponent();
        };
    }

    private string Expression { get; set; } = string.Empty;

    protected override void OnInitialized()
    {
        _entities = QueryConfigurator.GetEntities().ToList();
        NewQuery();
        base.OnInitializedAsync();
    }

    public void OnEntitySelect(Type value)
    {
        Expression = string.Empty;
        SelectEntity(value);
    }

    private void SelectEntity(Type entityType)
    {
        _selectedEntityType = entityType;
        StateHasChanged();
    }

    public void NewQuery()
    {
        SelectEntity(_entities.First());
        Expression = string.Empty;
        _queryBuilderKey++;
    }

}