@using NetQueryBuilder.Blazor.Components.Conditions.Relations
@using NetQueryBuilder.Conditions
<div class="card mb-2 p-3 border">
    <div class="card-content">
        <div class="row">
            <div class="col-12 col-sm-4">
                <RelationalPredicateField Condition="@Condition"></RelationalPredicateField>
            </div>
            <div class="col-12 col-sm-4">
                <RelationalOperators Condition="@Condition"></RelationalOperators>
            </div>
            <div class="col-12 col-sm-4">
                <RelationalValue Condition="@Condition"></RelationalValue>
            </div>
        </div>
    </div>
</div>