@using NetQueryBuilder.Blazor.Components.Conditions.Relations
@using NetQueryBuilder.Conditions
<div class="nqb-card" style="margin-bottom: 16px;">
    <div class="nqb-card-content">
        <div class="nqb-grid nqb-grid-cols-3 nqb-grid-cols-md-1" style="gap: 16px;">
            <div>
                <RelationalPredicateField Condition="@Condition"></RelationalPredicateField>
            </div>
            <div>
                <RelationalOperators Condition="@Condition"></RelationalOperators>
            </div>
            <div>
                <RelationalValue Condition="@Condition"></RelationalValue>
            </div>
        </div>
    </div>
</div>

@code {
    [Parameter] public SimpleCondition Condition { get; set; } = null!;
}